{% extends 'blog/base.html' %}

{% block content %}
  <!-- Navigation -->
  <div class="navbar">
    <div class="container-top">
      <ul class="navbar-items">
        <li class="left"><a href="{% url 'index' %}">The405</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a class="active" href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </div>
  </div>



  <!-- Content for page starts here -->
  <div class="content">
    <!-- Portfolio section -->
    <a name="portfolio"></a>
    <div class="portfolio">
      <h3>This is where the blog will eventually show up</h3>

      {% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaks }}</p>
        </div>
      {% endfor %}


    </div>
  </div>
{% endblock %}
