{% extends 'blog/base.html' %}

{% block content %}
  <!-- Navigation -->
  <div class="navbar">
    <div class="container-top">
      <ul class="navbar-items">
        <li class="left"><a href="{% url 'index' %}">The405</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a class="active" href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </div>
  </div>



  <!-- Content for page starts here -->
  <div class="content">
    <!-- Portfolio section -->
    <a name="portfolio"></a>
    <div class="portfolio">

    <!-- <div class="no-decoration"><a href="{% url 'post_new' %}">New post</a></div> -->

      {% for post in posts %}
        <div>
          <h2 class="no-decoration"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <p>{{ post.body|linebreaks|truncatewords:100 }}</p>
          <p class="date">{{ post.created_date }} | <a href="{% url 'post_detail' pk=post.pk %}">Read more</a> | Comments</p>
          <br />
        </div>
      {% endfor %}


    </div>
  </div>
{% endblock %}
