{% load staticfiles %}
<head>
  <title>sudo apt-get rekt</title>
  <meta name="author" content="Ahti Ruusuvuori">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Navigation -->
  <div class="navbar">
    <div class="container-top">
      <ul class="navbar-items">
        <li class="left"><a href="/index.html">The405</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/portfolio.html">Portfolio</a></li>
        <li><a class="active" href="/index.html">Home</a></li>
      </ul>
    </div>
  </div>
  <!-- Content for page starts here -->
  <div class="content-index">
    <div class="home">
      <div class="video">
        <iframe width="896" height="504" src="https://www.youtube.com/embed/5LSm6pUdldk" frameborder="0" 
allowfullscren></iframe>
        <p>Placeholder video courtesy of
        <a href="https://www.facebook.com/waveracermusic" target="_blank">Wave Racer</a>.</p>
      </div>
    </div>
    <ul class="social">
      <li>
        <a href="mailto:ahti.ruusuvuori@gmail.com" target="_top" class="social-icon"><i class="fa fa-envelope"> 
Email</i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/ahti.ruusuvuori" target="_blank" class="social-icon"><i class="fa 
fa-facebook"> Facebook</i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ahtiruusuvuori" target="_blank" class="social-icon"><i class="fa 
fa-linkedin"> LinkedIn</i></a>
      </li>
      <li>
        <a href="https://github.com/the405" target="_blank" class="social-icon"><i class="fa fa-github"> 
GitHub</i></a>
      </li>
    </ul>
  </div>
  <!-- Footnote -->
  <div class="footnote">
    <p>&copy; Ahti Ruusuvuori 2016</p>
  </div>
</body>
