{% extends 'blog/base.html' %}

{% block content %}
  <!-- Navigation -->
  <div class="navbar">
    <div class="container-top">
      <ul class="navbar-items">
        <li class="left"><a href="{% url 'index' %}">The405</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a class="active" href="{% url 'index' %}">Home</a></li>
      </ul>
    </div>
  </div>
  <!-- Content for page starts here -->
  <div class="content-index">
    <div class="home">
      <div class="video">
        <iframe width="896" height="504" src="https://www.youtube.com/embed/5LSm6pUdldk" frameborder="0" 
allowfullscren></iframe>
        <p>Placeholder video courtesy of
        <a href="https://www.facebook.com/waveracermusic" target="_blank">Wave Racer</a>.</p>
      </div>
    </div>
    <ul class="social">
      <li>
        <a href="mailto:ahti.ruusuvuori@gmail.com" target="_top" class="social-icon"><i class="fa fa-envelope"> 
Email</i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/ahti.ruusuvuori" target="_blank" class="social-icon"><i class="fa 
fa-facebook"> Facebook</i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ahtiruusuvuori" target="_blank" class="social-icon"><i class="fa 
fa-linkedin"> LinkedIn</i></a>
      </li>
      <li>
        <a href="https://github.com/the405" target="_blank" class="social-icon"><i class="fa fa-github"> 
GitHub</i></a>
      </li>
    </ul>
  </div>
{% endblock %}
