{% extends 'blog/base.html' %}

{% block content %}
  <!-- Navigation -->
  <div class="navbar">
    <div class="container-top">
      <ul class="navbar-items">
        <li class="left"><a href="/index.html">The405</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a class="active" href="/portfolio.html">Portfolio</a></li>
        <li><a href="/index.html">Home</a></li>
      </ul>
    </div>
  </div>
  <!-- Content for page starts here -->
  <div class="content">
    <!-- Portfolio section -->
    <a name="portfolio"></a>
    <div class="portfolio anchor">
      <h3>This is where I would collect stuff for my portfolio...if I could be bothered to dig anything up</h3>
    </div>
  </div>
{% endblock %}
