{% extends 'blog/base.html' %}

{% block content %}
  <!-- Navigation -->
  <div class="navbar">
    <div class="container-top">
      <ul class="navbar-items">
        <li class="left"><a href="{% url 'index' %}">The405</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a class="active" href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </div>
  </div>
  <!-- Content for page starts here -->
  <div class="content">
    <!-- Portfolio section -->
    <a name="portfolio"></a>
    <div class="portfolio anchor">
      <h3>This is where I would collect stuff for my portfolio...if I could be bothered to dig anything up</h3>
    </div>
  </div>
{% endblock %}
