{% extends 'blog/base.html' %}

{% block content %}
  <!-- Navigation -->
  <div class="navbar">
    <div class="container-top">
      <ul class="navbar-items">
        <li class="left"><a href="{% url 'index' %}">The405</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a class="active" href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </div>
  </div>



  <!-- Content for page starts here -->
  <div class="content">
    <!-- Portfolio section -->
    <a name="portfolio"></a>
    <div class="portfolio">


    <div class="post">
        <h1>{{ post.title }}</h1>

        {% if post.created_date %}
            <div class="date float-right">
                {{ post.created_date }}
            </div>
        {% endif %}

        <a href="{% url 'post_edit' pk=post.pk %}"></a>
        <p>{{ post.body|linebreaks }}</p>
    </div>


    </div>
  </div>
{% endblock %}

